<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.microfirst.domain.mapper.RoleMapper">

  <resultMap id="BaseResultMap" type="com.hjy.microfirst.domain.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from APP_ROLE
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.hjy.microfirst.domain.Role">
    insert into APP_ROLE ( name, create_time)
    values (  #{name,jdbcType=VARCHAR},  #{createTime,jdbcType=TIMESTAMP}})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.hjy.microfirst.domain.Role">
    update APP_ROLE
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,  name,  create_time
    from APP_ROLE
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, name,  create_time
    from APP_ROLE
  </select>

  <select id="selectByParam" parameterType="Map" resultMap="BaseResultMap">
    select id,  name, create_time
    from APP_ROLE
    <where>
      <if test="roleName != null and roleName != ''">
        name = #{roleName}
      </if>
    </where>
  </select>


</mapper>